<html>
    <head>
        <title>Szlk</title>
    </head>
    <bod>
        <div id="app-container"></div>
    </bod>
    <script src="{{buildFile}}"></script>
    <script>
        var container = document.getElementById('app-container');
        Elm.Szlk.embed(container);
    </script>

</html>